@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
  padding: 0;
  box-sizing: border-box;

  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #fff;
}
body {
  overflow: hidden;

  background-color: #3E3E3E;
}
h1 {
  font-weight: 600;
  font-size: 2.5rem;
}